@model IEnumerable<Book_Reading_Event_DAO.Event>

@{
    ViewBag.Title = "Past Events";
}

<h2>Past Events</h2>

<table class="table">
    <tr>
        <th>
            @* @Html.DisplayNameFor(model => model.User.UserName) *@
            Organised By
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventOtherDetails)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventDuration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventStartTime)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {

        var eventDate = item.EventDate.ToString("yyyy-MM-dd");
        var currentDate = DateTime.Now.ToString("yyyy-MM-dd");
        DateTime eDate = Convert.ToDateTime(eventDate);
        DateTime cDate = Convert.ToDateTime(currentDate);
        if (eDate < cDate) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventOtherDetails)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventLocation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventDuration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventStartTime)
                </td>
                <td>
                    @Html.ActionLink("View Details", "ViewPublicDetail", new { id = item.EventId })
                </td>
            </tr>
        }       
    }
</table>