@model IEnumerable<Book_Reading_Event_DAO.Event>

@{
    ViewBag.Title = "ViewMyEvent";
}

<h2>ViewMyEvent</h2>

<p>
    @Html.ActionLink("Create New", "Index")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventOtherDetails)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventDuration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventStartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventActive)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.User.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventOtherDetails)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventLocation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventDuration)
        </td>
        <td>
            @{ var eventType = "Private";
                if (item.EventType == 2)
                {
                    eventType = "Public";
                }
            } 
            @Html.DisplayFor(modelItem => eventType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventStartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventActive)
        </td>
        <td>
            @Html.ActionLink("Edit Event", "Edit", new { id = item.EventId }) |
            @* @Html.ActionLink("Details", "Details", new { id = item.EventId }) | *@
            @Html.ActionLink("View Details", "ViewPublicDetail", new { id = item.EventId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.EventId }) |
            @if (item.EventType == 1)
            {
                @Html.ActionLink("Invite User", "Invite", new { id = item.EventId });
            }
        </td>
    </tr>
}

</table>