<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />

    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>


</head>
<body>
    <div class="container">

        @* Navigation Bar*@
        <ul class="post-it">
            <li class="active">@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("Create Event", "Index", new { Controller = "Events", Area = "User" })</li>
            <li>@Html.ActionLink("Login", "Login", new { Controller = "Authentication", Area = "Security" })</li>
            <li>@Html.ActionLink("Logout", "Logout", new { Controller = "Authentication", Area = "Security" })</li>
            <li>@Html.ActionLink("Register", "Register", new { Controller = "Authentication", Area = "Security" })</li>

            <li>@Html.ActionLink("View My Events", "ViewMyEvent", new { Controller = "Events", Area = "User" })</li>
            <li>@Html.ActionLink("Public Events", "PublicEvents", new { Controller = "Events", Area = "User" })</li>
            <li>@Html.ActionLink("Register", "Register", new { Controller = "Events", Area = "User" })</li>
            <li>@Html.ActionLink("Register", "Register", new { Controller = "Events", Area = "User" })</li>
            <li>@Html.ActionLink("Register", "Register", new { Controller = "Events", Area = "User" })</li>
            <li>@Html.ActionLink("Register", "Register", new { Controller = "Events", Area = "User" })</li>
            <li>@Html.ActionLink("Register", "Register", new { Controller = "Events", Area = "User" })</li>
            <li>@Html.ActionLink("Register", "Register", new { Controller = "Events", Area = "User" })</li>

        @* <li><a href="#">SUNDAY</a></li>
        <li><a href="#">MONDAY</a></li>
        <li><a href="#">TUESDAY</a></li>
        <li><a href="#">WENDSDAY</a></li>
        <li><a href="#">THURSDAY</a></li>
        <li class="active"><a href="#">FRIDAY</a></li>
        <li><a href="#">SATERDAY</a></li> *@





        </ul>



        @* <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Book Reading", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>

                        <li>@Html.ActionLink("Create Event", "Index", new { Controller = "Events", Area = "User" })</li>
                        <li>@Html.ActionLink("Login", "Login", new { Controller = "Authentication", Area = "Security" })</li>
                        <li>@Html.ActionLink("Logout", "Logout", new { Controller = "Authentication", Area = "Security" })</li>
                        <li>@Html.ActionLink("Register", "Register", new { Controller = "Authentication", Area = "Security" })</li>



                        <li>@Html.ActionLink("View My Events", "ViewMyEvent", new { Controller = "Events", Area = "User" })</li>
                        <li>@Html.ActionLink("Public Events", "PublicEvents", new { Controller = "Events", Area = "User" })</li>
                        <li>@Html.ActionLink("Register", "Register", new { Controller = "Events", Area = "User" })</li>
                        <li>@Html.ActionLink("Register", "Register", new { Controller = "Events", Area = "User" })</li>
                        <li>@Html.ActionLink("Register", "Register", new { Controller = "Events", Area = "User" })</li>
                        <li>@Html.ActionLink("Register", "Register", new { Controller = "Events", Area = "User" })</li>
                        <li>@Html.ActionLink("Register", "Register", new { Controller = "Events", Area = "User" })</li>
                        <li>@Html.ActionLink("Register", "Register", new { Controller = "Events", Area = "User" })</li>
                        <li>@Html.ActionLink("Register", "Register", new { Controller = "Events", Area = "User" })</li>
                        <li>@Html.ActionLink("Register", "Register", new { Controller = "Events", Area = "User" })</li>
                        <li>@Html.ActionLink("Register", "Register", new { Controller = "Events", Area = "User" })</li>
                        <li>@Html.ActionLink("Register", "Register", new { Controller = "Events", Area = "User" })</li>
                    </ul>
                </div>
            </div>
        </div> *@

        @* <nav class="navbar navbar-expand-sm bg-light navbar-light">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Portfilo</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link " data-toggle="dropdown" href="#">Services</a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Website Designing</a></li>
                        <li><a href="#">Website Development</a></li>
                        <li><a href="#">Content Writing</a></li>
                        <li><a href="#">PPC Services</a></li>
                        <li><a href="#">SMO</a></li>
                        <li><a href="#">SEO</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </nav> *@
        <div class="body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Bok Reading Event</p>
            </footer>
        </div>
    </div>


</body>

</html>