<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Book Reading Event</title>

    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />

    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">

        @* Navigation Bar*@
        <ul class="post-it">


            @*((Book_Reading_UI.Controllers.CreatedFunction)this.ViewContext.Controller).CheckLoginUser()*@
            @{
                Book_Reading_UI.Controllers.CreatedFunction testuser = new Book_Reading_UI.Controllers.CreatedFunction();

                bool userlogeedin = testuser.CheckLoginUser();
                if (userlogeedin)
                {
                    <li class="active">@Html.ActionLink("Home", "Home", new { controller = "Authentication", area = "Security" })</li>
                    <li>@Html.ActionLink("Create Event", "Index", new { Controller = "Events", Area = "User" })</li>
                    <li>@Html.ActionLink("View My Events", "ViewMyEvent", new { Controller = "Events", Area = "User" })</li>
                    <li>@Html.ActionLink("View Invitations", "Invitations", new { Controller = "Events", Area = "User" })</li>
                }
                else
                {
                    <li class="active">@Html.ActionLink("Home", "Index", new { controller = "Home", area = "common" })</li>
                }
            }

            <li>@Html.ActionLink("Public Events", "PublicEvents", new { Controller = "Events", Area = "User" })</li>
            <li>@Html.ActionLink("Upcoming Events", "UpcomingEvents", new { Controller = "Events", Area = "User" })</li>
            <li>@Html.ActionLink("Past Events", "PastEvents", new { Controller = "Events", Area = "User" })</li>

            @{
                if (userlogeedin)
                {
                    int userId = testuser.LoggedUserId();
                    string userRole = testuser.GetUserRole(userId);
                    if (userRole == "A")
                    {
                        <li>@Html.ActionLink("View Users", "AllUsers", new { Controller = "Admin", Area = "Admin" })</li>
                        <li>@Html.ActionLink("View All Events", "AllEvents", new { Controller = "Admin", Area = "Admin" })</li>
                    }
                }
            }
            @{
                if (userlogeedin)
                {
                    <li>@Html.ActionLink("Logout", "Logout", new { Controller = "Authentication", Area = "Security" })</li>
                }
                else
                {
                    <li>@Html.ActionLink("Login", "Login", new { Controller = "Authentication", Area = "Security" })</li>
                    <li>@Html.ActionLink("Register", "Register", new { Controller = "Authentication", Area = "Security" })</li>
                }
            }
            <li><a href="http://helpdesk.nagarro.com/">Customer Support</a></li>
        </ul>

        @* <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Book Reading", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>

                        <li>@Html.ActionLink("Create Event", "Index", new { Controller = "Events", Area = "User" })</li>
                        <li>@Html.ActionLink("Login", "Login", new { Controller = "Authentication", Area = "Security" })</li>
                        <li>@Html.ActionLink("Logout", "Logout", new { Controller = "Authentication", Area = "Security" })</li>
                        <li>@Html.ActionLink("Register", "Register", new { Controller = "Authentication", Area = "Security" })</li>



                        <li>@Html.ActionLink("View My Events", "ViewMyEvent", new { Controller = "Events", Area = "User" })</li>
                        <li>@Html.ActionLink("Public Events", "PublicEvents", new { Controller = "Events", Area = "User" })</li>
                        <li>@Html.ActionLink("Register", "Register", new { Controller = "Events", Area = "User" })</li>
                        <li>@Html.ActionLink("Register", "Register", new { Controller = "Events", Area = "User" })</li>
                        <li>@Html.ActionLink("Register", "Register", new { Controller = "Events", Area = "User" })</li>
                        <li>@Html.ActionLink("Register", "Register", new { Controller = "Events", Area = "User" })</li>
                        <li>@Html.ActionLink("Register", "Register", new { Controller = "Events", Area = "User" })</li>
                        <li>@Html.ActionLink("Register", "Register", new { Controller = "Events", Area = "User" })</li>
                        <li>@Html.ActionLink("Register", "Register", new { Controller = "Events", Area = "User" })</li>
                        <li>@Html.ActionLink("Register", "Register", new { Controller = "Events", Area = "User" })</li>
                        <li>@Html.ActionLink("Register", "Register", new { Controller = "Events", Area = "User" })</li>
                        <li>@Html.ActionLink("Register", "Register", new { Controller = "Events", Area = "User" })</li>
                    </ul>
                </div>
            </div>
        </div> *@

        <div class="body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Book Reading Event</p>
            </footer>
        </div>
    </div>


</body>

</html>